<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
</div>
<div class="text-center">
    <img src="~/img/Spain.png"/>
</div>
<div class="text-center">
    <a class="nav-link text-dark" asp-area="" asp-controller="Newsletter" asp-action="Subscribe" id="NewsletterLink">Suscríbase al boletín</a>
</div>
